REACT_APP_API_URL=http://localhost:8000/api
REACT_APP_API_URL_UPLOADS=http://localhost:8000/uploads

REACT_APP_VIEWER_MODE=ohif
REACT_APP_OHIF_BASE_URL=http://localhost:3005
REACT_APP_OHIF_CONFIG_URL=http://localhost:3005/orthanc-standalone.json
