# Backend
venv/
__pycache__/
*.pyc
backend/venv/
backend/.env/

# Ignores all the files in uploads except .gitkeep
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
node_modules/
build/

# General
.DS_Store
.env
.idea/
*.iml
