# Backend
venv/
__pycache__/
*.pyc
backend/venv/
backend/.env/
backend/app/logs
backend/app/AI_models/PanEcho/weights
backend/app/AI_models/PanEcho/pytorch_hub_cache

# Ignores all the files in uploads except .gitkeep
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Ignores all the files in artifacts except .gitkeep
backend/app/artifacts/*

# Frontend
node_modules/
build/
frontend/build/

# Electron Desktop
dist/
out/
*.log
backend/dist/
backend/desktop/build/
backend/desktop/*.exe
backend/desktop/*.app
dist/electron/
backend/dist/api/

# Docs
docs/

# PyInstaller
*.spec.orig

# Electron Builder
.webpack/
build-resources/icon.*

# General
.DS_Store
.env
.idea/
*.iml
